/*estilo do meu teste*/

*{
	margin: 0;
	padding: 0;
}
#site{
	width: 1390px;
	padding-right: 80px;
	margin: 0 auto;
	
}
#b²{
	float: left;
}
#b² .img{
	height:80px; 
	width:80px;
	
}
#b² .tp{
	font-size: 20px;
	color: blue;
	font-family: "impact";
	text-align: center;
}
#titulo{
	width: 1390px;
	text-align: center;
	font-family: "Bauhaus 93";
	padding-left: 100px;
}
#titulo h1{
	background-image: url("../fotos/images.jpg");
	color:blue;
	height: 80px;
	padding-top: 70px;
}
#menu_tamanho{
	width: 1200px; 
}
#fundo_menu{
	width: 1490px;
	background-color:blue;
	position: absolute;
}
#menu_flut{
	padding-bottom:10px; 
	padding-left: 360px;
	text-align: center;
}
#menu_flut li{
	background-color:blue;
	float: left;
	padding:5px;
	text-align: center;
	font-family: "Bauhaus 93";
	color: white;
	list-style: none;
	font-size: 18px;

}
#menu_flut li:hover{
	background-color: white; 
	color:blue;
}
#sidebar_fundo{
	background-color:blue; 
}
#sidebar{

	width: 100px;
	padding-top: 40px;
	float: right;
	padding-left: 70px;
}
#sidebar li{
	
	width: 100%;
	list-style: none;
	background-color:blue;
	color: white;
	font-size: 16px;
	font-family: "Bauhaus 93";
	text-align: center;

}
#sidebar li:hover{
	background-color: white; 
	color:blue;
}
#conteudo{
	clear: left;
	width: 1200px;
	padding-top: 50px;	
}
td{
	padding: 2px;
	border:solid 1px;
}
.vm_b{
	background-color:blue;
	color: white;
}
.b_vm{
	color:blue;
	background-color:white;
}
#form{
	padding-left: 1px;
}
#form input{
	padding-top: 1px;
}
#form .botao{
	width:60px;
	height:20px;
	font-family: 'impact';
	color: white;
	background-color:blue;
	border-style: none;
	font-size: 14px;
}
#form .botao:hover{
	cursor: pointer;
	background-color:#000;
}
